doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title order
    link(rel="stylesheet", href="../styles.css")
  body
    .container
      .built-in-block
        .order 
          h2.title Оформление заказа
          form(action="")
            .col-wrap.col-wrap--order 
              .col
                .order__title Заполните данные для оформления заказа
                .order__form.wrapper-box.box-shadow
                  mixin input(label,id,plh)
                    .order__form-input.form-input 
                      label(for=id)=label
                      input(type="text" id=id placeholder=plh) 
                  +input('ИМЯ','name','Ваше имя')
                  +input('Фамилия','surname','Ваша фамилия')
                  +input('Email','email','Электронная почта')
                  +input('индекс* ','postcode','Номер индекса')
                  +input('Телефон*','phone','Номер телефона')
                  +input('Телефон (дополнительный)','phone','Номер телефона')
                  
                .tab
                  .order__title  Выберите способ доставки    
                  ul.tabs
                    li
                      .bt Доставить к пункту выдачи
                    li
                      .bt Доставить курьером
                    li
                      .bt Express доставка
                  
                  .tab_content
                    .tabs_item
                      p Выберите пункт выдачи
                      .select 
                        input(type="hidden" class="select__input" name="issue_point")
                        .select__selected-option
                        .select__dropdown
                          .select__option(data-value="г. Бишкек, ул Уметалиева, 127 (Головной офис)") г. Бишкек, ул Уметалиева, 127 (Головной офис)
                          .select__option(data-value="г. Каракол, ул. Гагарина 87") г. Каракол, ул. Гагарина 87
                   
                    .tabs_item
                      p Укажите адрес
                      .form-input 
                        input(type="text" class="select__input" name="сourier_delivery" placeholder="Ваш адрес")
                        
                     
                    .tabs_item
                      p Укажите адрес
                      .form-input 
                        input(type="text" class="select__input" name="сourier_delivery" placeholder="Ваш адрес")
                    p.work-time Режим работы: 9:00 - 18:00
                .pay
                  .order__title Способ оплаты
                  .pay__wrap
                    .pay__method  
                      .pay__icon 
                        svg(xmlns='http://www.w3.org/2000/svg' width='20' height='16' viewBox='0 0 20 16' fill='none')
                          path(d='M12 12H17V4H12V12ZM14 6H15V10H14V6ZM6 12H11V4H6V12ZM8 6H9V10H8V6ZM3 4H5V12H3V4ZM0 0V16H20V0H0ZM18 14H2V2H18V14Z' fill='#232F3E')
                      .pay__title Наличными
                    
                    .pay__method  
                      .pay__icon 
                        svg(xmlns='http://www.w3.org/2000/svg' width='20' height='16' viewBox='0 0 20 16' fill='none')
                          path(d='M18 0H2C0.89 0 0.00999999 0.89 0.00999999 2L0 14C0 15.11 0.89 16 2 16H18C19.11 16 20 15.11 20 14V2C20 0.89 19.11 0 18 0ZM18 14H2V8H18V14ZM18 4H2V2H18V4Z' fill='#232F3E')
                      .pay__title Картой
                      .pay__icon-angle 
                        svg(xmlns='http://www.w3.org/2000/svg' width='12' height='8' viewBox='0 0 12 8' fill='none')
                          path(d='M10.59 0.589966L6 5.16997L1.41 0.589966L0 1.99997L6 7.99997L12 1.99997L10.59 0.589966Z' fill='#232F3E')
                      fieldset.pay__method-wrap#card
                        mixin method(img, val)
                          .pay__method-item 
                            .radio-btn
                              label
                                input(type="radio" name="card" value=val)
                                img(src=`../img/`+img+`.png`, alt="")  
                        +method('ec','elcard')   
                        +method('visa', 'visa')   
                        +method('mc','masterCard')   

                    .pay__method
                      .pay__icon
                        svg(xmlns='http://www.w3.org/2000/svg' width='19' height='18' viewBox='0 0 19 18' fill='none')
                          path(d='M18 4.28V2C18 0.9 17.1 0 16 0H2C0.89 0 0 0.9 0 2V16C0 17.1 0.89 18 2 18H16C17.1 18 18 17.1 18 16V13.72C18.59 13.37 19 12.74 19 12V6C19 5.26 18.59 4.63 18 4.28ZM17 6V12H10V6H17ZM2 16V2H16V4H10C8.9 4 8 4.9 8 6V12C8 13.1 8.9 14 10 14H16V16H2Z' fill='#232F3E')
                      .pay__title Кошелек
                      .pay__icon-angle 
                        svg(xmlns='http://www.w3.org/2000/svg' width='12' height='8' viewBox='0 0 12 8' fill='none')
                          path(d='M10.59 0.589966L6 5.16997L1.41 0.589966L0 1.99997L6 7.99997L12 1.99997L10.59 0.589966Z' fill='#232F3E')
                      fieldset.pay__method-wrap#mobileWallet 
                        mixin method(img, val)
                          .pay__method-item 
                            .radio-btn
                              label
                                input(type="radio" name="mobile_wallet" value=val)
                                img(src=`../img/`+img+`.png`, alt="") 
                        +method('mp','megapay')   
                        +method('o', 'o')   
                        +method('b','balance')   
                        +method('es','elsom')   

                    .pay__method
                      .pay__icon
                        svg(xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none')
                          path(d='M17 15H19V17H17V15ZM17 11H19V13H17V11ZM17 7H19V9H17V7ZM13.74 7L15 7.84V7H13.74Z' fill='#232F3E')
                          path(d='M10 3V4.51L12 5.84V5H21V19H17V21H23V3H10Z' fill='#232F3E')
                          path(d='M8.17 5.69995L15 10.25V21H1V10.48L8.17 5.69995ZM10 19H13V11.16L8.17 8.08995L3 11.38V19H6V13H10V19Z' fill='#232F3E')
                      .pay__title Банк
                      .pay__icon-angle 
                        svg(xmlns='http://www.w3.org/2000/svg' width='12' height='8' viewBox='0 0 12 8' fill='none')
                          path(d='M10.59 0.589966L6 5.16997L1.41 0.589966L0 1.99997L6 7.99997L12 1.99997L10.59 0.589966Z' fill='#232F3E')
                      fieldset.pay__method-wrap#bank 
                        mixin method(img, val)
                          .pay__method-item 
                            .radio-btn
                              label
                                input(type="radio" name="bank" value=val)
                                img(src=`../img/`+img+`.png`, alt="") 
                        +method('mb','mbank')   
                        +method('ob', 'optima_bank')   
                        +method('db','demir_bank')

                    

                    //- .select 
                    //-     input(type="hidden" class="select__input" name="issue_point")
                    //-     .select__selected-option
                    //-     .select__dropdown
                    //-       .select__option(data-value="Исламское финансирование") Исламское финансирование
                    //-       .select__option(data-value="Потребительские кредиты") Потребительские кредиты

              .col
                .basket-list
                  a(href="#").btn.btn--orange Оформить заказ 
                  a(href="#").btn.btn--light
                    span В кредит или рассрочку
                    span BANK

                  //- .basket-list__header Товары в корзине
                  .basket-list__body.wrapper-box.box-shadow
                    //- mixin product(name, count, price)
                    //-   .basket-list__product
                    //-     .basket-list__product-info
                    //-       p=name
                    //-       p=count 
                    //-       | x 
                    //-       p=price
                    //-     .basket-list__product-delete
                        
                    //- +product('Наименование товара.','1','100.00 сом')
                    //- +product('Наименование товара.','1','100.00 сом')
                    //- +product('Наименование товара.','1','100.00 сом')
                    //- +product('Наименование товара.','1','100.00 сом')
                    
            

                    .basket-list__total 
                      .basket-list__total-item
                        span Итого:
                        span 100,00 сом
                      .basket-list__total-item.basket-list__total-item--sm
                        span Итого: 1товар 
                        span 0,00 сом
                      .basket-list__total-item.basket-list__total-item--sm
                        span Доставка:
                        span 0,00 сом
                      .basket-list__total-item.basket-list__total-item--sm
                        span Скидка:
                        span 0,00 сом
                      //- .form-input
                      //-   input(type="text" placeholder="Подарочный сертификат или промо-код" name="promo_code")
                      //- .basket-list__total-item.basket-list__total-item--total
                      //-   span Сумма заказа 
                      //-   span 500.00 сом
    script(src="https://code.jquery.com/jquery-3.6.0.min.js")
    script(src="../scripts.js") 