/*******************************************************************************************
*   ___  _          ______                     _ _                _                        *
*  / _ \| |         | ___ \                   | (_)              | |              © 2021   *
* / /_\ | | _____  _| |_/ /_ __ __ _ _ __   __| |_ _ __   __ _   | |_ ___  __ _ _ __ ___   *
* |  _  | |/ _ \ \/ / ___ \ '__/ _` | '_ \ / _` | | '_ \ / _` |  | __/ _ \/ _` | '_ ` _ \  *
* | | | | |  __/>  <| |_/ / | | (_| | | | | (_| | | | | | (_| |  | ||  __/ (_| | | | | | | *
* \_| |_/_|\___/_/\_\____/|_|  \__,_|_| |_|\__,_|_|_| |_|\__, |  \___\___|\__,_|_| |_| |_| *
*                                                         __/ |                            *
*                                                        |___/                             *
* ---------------------------------------------------------------------------------------- *
* This is commercial software, only users who have purchased a valid license and accept    *
* to the terms of the License Agreement can install and use this program.                  *
* ---------------------------------------------------------------------------------------- *
* website: https://cs-cart.alexbranding.com                                                *
*   email: info@alexbranding.com                                                           *
*******************************************************************************************/
.container:before,
.container:after {
  display: none;
}
.ut2-subcategories-block.hidden-phone {
  border-radius: 16px;
  border: 1px solid #e5e5e5;
  overflow: hidden;
}
@media (max-width: 767.98px) {
  .ut2-subcategories-block.hidden-phone::parent {
    display: none;
  }
}
.ut2-subcategories-block.hidden-phone ul {
  background: #fff;
}
.ut2-subcategories-block.hidden-phone ul li {
  border: none;
}
.ut2-subcategories-block.hidden-phone ul li:hover {
  background: none;
}
.ut2-subcategories-block.hidden-phone ul li.ut2-current-item {
  background: #f3b863;
}
.ut2-subcategories-block.hidden-phone ul li.ut2-current-item span {
  color: #fff;
}
.ut2-subcategories-block.hidden-phone ul li.ut2-current-item span:before {
  display: none;
}
.ut2-subcategories-block.hidden-phone ul li a:hover span {
  color: #f3b863;
}
.ut2-subcategories-block.hidden-phone ul li a,
.ut2-subcategories-block.hidden-phone ul li span {
  color: #202020;
  font-weight: normal;
  transition: all 0.3s;
}
.subcategories.clearfix .ty-subcategories__item {
  max-width: 33.33%;
  width: 100%;
  padding: 8px;
}
.subcategories.clearfix .ty-subcategories__item:hover span {
  text-decoration: none;
}
@media (max-width: 1199.98px) {
  .subcategories.clearfix .ty-subcategories__item {
    max-width: 50%;
  }
}
@media (max-width: 575.98px) {
  .subcategories.clearfix .ty-subcategories__item {
    margin: 0 0 5px 0;
    padding: 3px;
  }
}
.subcategories.clearfix .ty-subcategories__item a {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.08), 0 2px 24px rgba(0, 0, 0, 0.06);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 24px 24px 16px;
  transition: all 0.3s;
}
.subcategories.clearfix .ty-subcategories__item a:hover {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.08), 0 2px 24px rgba(0, 0, 0, 0.36);
}
@media (max-width: 767.98px) {
  .subcategories.clearfix .ty-subcategories__item a {
    padding: 20px 10px 10px;
    border-radius: 15px;
  }
}
@media (max-width: 575.98px) {
  .subcategories.clearfix .ty-subcategories__item a {
    padding: 20px 5px 10px;
    border-radius: 10px;
  }
}
.subcategories.clearfix .ty-subcategories__item a span {
  font-weight: normal;
  padding: 0;
  font-size: 16px;
}
@media (max-width: 767.98px) {
  .subcategories.clearfix .ty-subcategories__item a span {
    font-size: 12px;
    height: 40px;
  }
}
@media (max-width: 575.98px) {
  .subcategories.clearfix .ty-subcategories__item a span {
    font-size: 11px;
    height: 30px;
  }
}
.ty-dropdown-box__title:not(.open):not(.__cart-page) .filled > .ty-minicart-count:before,
.ty-dropdown-box__title:not(.open):not(.__cart-page) .filled > .ty-minicart-count:after {
  display: none;
}
.light-header div.top-buttons .ut2-icon-outline-cart:not(.filled) .ty-minicart-count {
  background: #FF7508;
  color: #fff;
}
.tygh-header .ty-logo-container__image {
  max-height: 30px;
}
.ut2-top-my-account .ty-dropdown-box__title.open i:before,
.ut2-top-my-account .ty-dropdown-box__title.open .ac-title,
.ut2-top-cart-content .ty-dropdown-box__title.open i:before,
.ut2-top-cart-content .ty-dropdown-box__title.open .ac-title {
  color: rgba(255, 255, 255, 0.6);
}
.light-header .container-fluid-row:not(.second-header-grid) .top-menu-grid-vetrtical .ty-dropdown-box__title.open:after {
  animation: none !important;
}
@media screen and (max-width: 767px) {
  .light-header [class*="span"].top-search .ut2-btn-search.hidden i {
    animation: none !important;
  }
}
.top-menu-grid-vetrtical .ut2-menu__inbox {
  max-height: none !important;
  overflow-y: inherit;
}
.top-menu-grid-vetrtical .ty-dropdown-box__title.open:after {
  content: "\e92e";
}
.l-v-menu {
  position: inherit !important;
}
@media screen and (min-width: 768px) {
  .top-menu-grid-vetrtical .ut2-menu__inbox .ty-menu__items .ty-menu__submenu-items {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.5) !important;
    min-height: 100vh;
  }
}
#topmenu_81_688_2780580107 .ty-menu__submenu-items {
  visibility: visible !important;
  opacity: 1 !important;
}
.l-v-menu .ty-menu__item-link.a-first-lvl {
  padding: 8px 46px 8px 13px !important;
}
.top-menu-grid-vetrtical .ut2-menu__inbox > .ty-menu__items > .ty-menu__item .ty-menu__item-link .menu-lvl-ctn .ut2-mwi-icon {
  filter: grayscale(1) !important;
}
@media (max-width: 767px) {
  .hidden-phone.cm-warehouse-block-depends-by-location {
    display: block !important;
  }
}
.container {
  max-width: 1350px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v47/TK3_WkUHHAIjg75cFRf3bXL8LICs1y9ogUE.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOkCnqEu92Fr1MmgWxP.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmSU5vAw.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Me5Q.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmEU9vAw.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmWUlvAw.ttf) format('truetype');
}
* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}
button {
  outline: none;
  border: none;
  background-color: transparent;
}
.btn {
  border-radius: 18px;
  text-transform: uppercase;
  color: #fff;
  font-size: 11px;
  padding: 10px 20px;
  min-height: 35px;
  text-decoration: none;
  outline: none;
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
  cursor: pointer;
  line-height: normal;
}
.btn span {
  height: auto;
}
.btn--dark {
  background-color: #232F3E;
}
.btn--dark:hover {
  background-color: #FF741F;
}
.btn--orange {
  background-color: #FF741F;
}
.btn--orange:hover {
  background-color: #232F3E;
}
.btn--light {
  background-color: #fff;
  color: #000;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
}
.btn--light:hover {
  background-color: #ddd;
}
.btn.login {
  position: absolute;
  right: 40px;
  top: 70px;
}
@media (max-width: 1199.98px) {
  .btn.login {
    top: 60px;
    right: 30px;
  }
}
@media (max-width: 991.98px) {
  .btn.login {
    top: 50px;
    right: 25px;
  }
}
@media (max-width: 767.98px) {
  .btn.login {
    top: 5px;
    right: 10px;
    transform: scale(0.8);
  }
}
@media (max-width: 575.98px) {
  .btn.login {
    position: relative;
    transform: scale(1);
    top: auto;
    right: auto;
    margin-bottom: 20px;
  }
}
.check-box {
  display: inline-block;
}
.check-box .box {
  position: relative;
}
.check-box .box:hover:before {
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.25);
}
.check-box .box:before {
  position: absolute;
  content: '';
  width: 18px;
  height: 18px;
  border-radius: 3px;
  border: 2px solid #BCBFC1;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.3s;
}
.check-box .box label {
  cursor: pointer;
  position: relative;
  padding-left: 20px;
}
.check-box .box label:before,
.check-box .box label:after {
  position: absolute;
  content: '';
  background-color: #FF741F;
  height: 2px;
  opacity: 0;
  top: -5px;
  transition: all 0.2s;
}
.check-box .box label:before {
  width: 7px;
  transform: rotate(50deg);
  left: 1px;
}
.check-box .box label:after {
  width: 16px;
  transform: rotate(-45deg);
  left: 4px;
}
.check-box .box label span {
  margin-left: 5px;
}
.check-box input {
  display: none;
}
.check-box input:checked + .box:before {
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.25);
}
.check-box input:checked + .box label:before {
  top: 10px;
  left: 2px;
  opacity: 1;
}
.check-box input:checked + .box label:after {
  top: 8px;
  left: 5px;
  opacity: 1;
}
.form-input {
  margin-bottom: 15px;
}
.form-input:last-child {
  margin-bottom: 0;
}
.form-input label {
  text-transform: uppercase;
  color: #656d77;
  font-size: 11px;
  margin-bottom: 5px;
  display: inline-block;
  cursor: pointer;
}
.form-input input,
.form-input textarea {
  width: 100%;
  height: 36px;
  border-radius: 18px;
  border: 1px solid #BCBFC1;
  padding-left: 12px;
}
.form-input input::placeholder,
.form-input textarea::placeholder {
  color: #bcbfc1;
}
.form-input textarea {
  height: auto;
  resize: none;
  padding-top: 10px;
}
.title {
  font-size: 20px;
  margin-bottom: 15px;
  font-weight: 700;
  color: #131921;
}
.ty-mainbox-title {
  font-size: 20px !important;
  margin-bottom: 15px !important;
  font-weight: 700 !important;
  color: #131921 !important;
}
.title--mc {
  color: #FF741F;
  font-weight: 500;
}
@media (max-width: 1199.98px) {
  .title {
    font-size: 19px;
  }
}
@media (max-width: 991.98px) {
  .title {
    font-size: 18px;
  }
}
@media (max-width: 767.98px) {
  .title {
    font-size: 17px;
  }
}
.col-wrap {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 991.98px) {
  .col-wrap {
    flex-direction: column;
  }
}
@media (max-width: 991.98px) {
  .col-wrap .col {
    width: 100% !important;
  }
}
.col-wrap .col:first-child {
  width: 63.75%;
}
.col-wrap .col:last-child {
  width: 32.8%;
}
.col-wrap--order .col:first-child {
  width: 70%;
}
.col-wrap--order .col:last-child {
  width: 27%;
}
.select {
  position: relative;
}
.select__selected-option {
  padding: 10px 18px;
  max-height: 36px;
  background: #FFFFFF;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}
@media (max-width: 575.98px) {
  .select__selected-option {
    font-size: 13px;
  }
}
.select__selected-option:before,
.select__selected-option:after {
  position: absolute;
  content: '';
  width: 10px;
  height: 2px;
  background-color: #000;
}
.select__selected-option:before {
  transform: rotate(44deg);
  right: 20px;
}
.select__selected-option:after {
  transform: rotate(-44deg);
  right: 14px;
}
.select__dropdown {
  transition: all 0.3s;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 100%;
  background-color: #fff;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
  width: 100%;
  padding-top: 10px;
  z-index: 9;
}
@media (max-width: 575.98px) {
  .select__dropdown {
    font-size: 13px;
  }
}
.select__dropdown.show {
  opacity: 1;
  pointer-events: inherit;
}
.select__option {
  cursor: pointer;
  padding: 3px 18px;
  transition: all 0.3s;
  text-align: left;
}
.select__option:hover {
  background-color: rgba(223, 223, 233, 0.23);
}
.social {
  display: flex;
  margin: 0 !important;
}
.social li {
  display: inline-block;
  list-style-type: none;
  margin-right: 20px;
}
.social li:last-child {
  margin-right: 0;
}
.social li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  overflow: hidden;
}
.social li a i {
  color: #fff;
  font-size: 15px;
}
.banner-page {
  min-height: 233px;
  background-size: cover;
  background-position: center center;
  margin-bottom: 30px;
}
@media (max-width: 1199.98px) {
  .banner-page {
    min-height: 200px;
  }
}
@media (max-width: 991.98px) {
  .banner-page {
    min-height: 170px;
  }
}
@media (max-width: 767.98px) {
  .banner-page {
    min-height: 140px;
  }
}
@media (max-width: 575.98px) {
  .banner-page {
    min-height: 110px;
  }
}
.tab {
  position: relative;
  line-height: 1.5;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  margin-top: 20px;
}
.tabs {
  display: flex;
  align-items: flex-end;
}
@media (max-width: 575.98px) {
  .tabs {
    flex-direction: column;
    align-items: flex-start;
  }
}
.tabs li {
  width: 33.33%;
  list-style: none;
  display: inline-block;
}
@media (max-width: 575.98px) {
  .tabs li {
    width: 100%;
  }
}
.tabs li:first-child .bt {
  border-radius: 5px 0px 0px 0px;
}
.tabs li:last-child .bt {
  border-radius: 0px 5px 0px 0px;
}
.tabs li .bt {
  background-color: #e5e5e5;
  color: #363c49;
  padding: 6px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: all 0.3s;
  text-align: center;
  cursor: pointer;
}
@media (max-width: 1199.98px) {
  .tabs li .bt {
    font-size: 15px;
  }
}
@media (max-width: 991.98px) {
  .tabs li .bt {
    font-size: 14px;
  }
}
@media (max-width: 767.98px) {
  .tabs li .bt {
    font-size: 13px;
  }
}
@media (max-width: 575.98px) {
  .tabs li .bt {
    font-size: 10px;
    border-radius: 0 !important;
    background-color: #fff;
  }
}
.tabs li .bt:hover {
  color: #656D77;
  text-decoration: none;
  box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.05);
  border-radius: 5px 5px 0px 0px;
  background-color: #fff;
  padding: 10px 0;
}
@media (max-width: 575.98px) {
  .tabs li .bt:hover {
    border-radius: 0;
    padding: 6px 0;
    box-shadow: none;
    background-color: #e5e5e5;
  }
}
.tabs li.current .bt {
  color: #656D77;
  text-decoration: none;
  box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.05);
  border-radius: 5px 5px 0px 0px;
  background-color: #fff;
  padding: 10px 0;
}
@media (max-width: 575.98px) {
  .tabs li.current .bt {
    background-color: #e5e5e5;
  }
}
.tabs_item {
  display: none;
  padding: 30px 0;
}
.tabs_item p {
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #656d77;
  font-size: 12px;
}
.tabs_item:first-child {
  display: block;
}
.about__col:first-child {
  width: calc(58.5% - 5px);
}
@media (max-width: 767.98px) {
  .about__col:first-child {
    width: 100%;
  }
}
.about__col:last-child {
  width: calc(41% - 5px);
}
@media (max-width: 767.98px) {
  .about__col:last-child {
    display: none;
  }
}
.about__col p {
  font-size: 18px;
  margin-bottom: 25px;
  color: #000;
}
.about__col p:last-child {
  margin-bottom: 0;
}
@media (max-width: 1199.98px) {
  .about__col p {
    font-size: 17px;
  }
}
@media (max-width: 991.98px) {
  .about__col p {
    font-size: 16px;
  }
}
.about__col-wrap {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767.98px) {
  .about__col-wrap {
    flex-direction: column;
  }
}
.about__col-wrap--desc {
  justify-content: space-around;
  margin-bottom: 50px;
}
@media (max-width: 1199.98px) {
  .about__col-wrap--desc {
    margin-bottom: 45px;
  }
}
@media (max-width: 991.98px) {
  .about__col-wrap--desc {
    margin-bottom: 40px;
  }
}
@media (max-width: 767.98px) {
  .about__col-wrap--desc {
    flex-direction: column;
    margin-bottom: 35px;
  }
}
@media (max-width: 575.98px) {
  .about__col-wrap--desc {
    flex-direction: column;
    margin-bottom: 30px;
  }
}
@media (max-width: 767.98px) {
  .about__col-wrap--desc .about__col {
    width: 100% !important;
  }
}
.about__col-wrap--desc .about__col:first-child {
  width: calc(35%);
}
.about__col-wrap--desc .about__col:first-child .title {
  color: #FF741F;
  font-size: 28px;
}
.about__col-wrap--desc .about__col:last-child {
  width: calc(50%);
}
@media (max-width: 767.98px) {
  .about__col-wrap--desc .about__col:last-child {
    display: block;
  }
}
@media (max-width: 767.98px) {
  .about__col-wrap--inside {
    flex-direction: row;
  }
}
@media (max-width: 575.98px) {
  .about__col-wrap--inside {
    flex-direction: column;
  }
}
.about__col-wrap--inside .about__col {
  width: calc(50% - 5px);
}
@media (max-width: 767.98px) {
  .about__col-wrap--inside .about__col {
    width: calc(50% - 5px);
  }
}
@media (max-width: 575.98px) {
  .about__col-wrap--inside .about__col {
    width: 100%;
  }
}
@media (max-width: 767.98px) {
  .about__col-wrap--inside .about__col:last-child {
    display: flex;
  }
}
.about__col-item {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  color: #fff;
  line-height: 18.75px;
  height: 100%;
}
.about__col-item p {
  color: #fff;
  font-size: 16px;
}
.about__col-item p:last-child {
  margin-bottom: 0;
}
.about__col-item--text {
  padding: 15px;
  background-color: #FF741F;
  align-items: flex-end;
}
@media (max-width: 1199.98px) {
  .about__col-item--text p {
    font-size: 14px;
    line-height: normal;
  }
}
@media (max-width: 991.98px) {
  .about__col-item--text p {
    font-size: 11px;
  }
}
@media (max-width: 767.98px) {
  .about__col-item--text p {
    font-size: 13px;
  }
}
.about__customers {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 767.98px) {
  .about__customers {
    margin: 30px 0;
  }
}
.about .advantages {
  margin-top: 70px;
}
@media (max-width: 1199.98px) {
  .about .advantages {
    margin-top: 60px;
  }
}
@media (max-width: 991.98px) {
  .about .advantages {
    margin-top: 50px;
  }
}
@media (max-width: 767.98px) {
  .about .advantages {
    margin-top: 40px;
  }
}
@media (max-width: 575.98px) {
  .about .advantages {
    margin-top: 30px;
  }
}
.about .advantages__col-wrap {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767.98px) {
  .about .advantages__col-wrap {
    flex-direction: column;
  }
}
.about .advantages__col:first-child {
  width: calc(54.5% - 5px);
}
@media (max-width: 767.98px) {
  .about .advantages__col:first-child {
    width: 100%;
  }
}
.about .advantages__col:last-child {
  width: calc(41% - 5px);
}
@media (max-width: 1199.98px) {
  .about .advantages__col:last-child {
    width: calc(43% - 5px);
  }
}
@media (max-width: 991.98px) {
  .about .advantages__col:last-child {
    width: calc(44% - 5px);
  }
}
@media (max-width: 767.98px) {
  .about .advantages__col:last-child {
    display: none;
  }
}
.about .advantages__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.about .advantages__item {
  margin-bottom: 40px;
  width: calc(50% - 30px);
}
@media (max-width: 1199.98px) {
  .about .advantages__item {
    width: calc(50% - 20px);
  }
}
@media (max-width: 991.98px) {
  .about .advantages__item {
    width: calc(50% - 10px);
    margin-bottom: 30px;
  }
}
@media (max-width: 767.98px) {
  .about .advantages__item {
    width: calc(33.33% - 7.5px);
    margin-bottom: 25px;
  }
}
@media (max-width: 575.98px) {
  .about .advantages__item {
    width: 100%;
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
  }
}
.about .advantages__img {
  background: #fff;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}
@media (max-width: 1199.98px) {
  .about .advantages__img {
    width: 80px;
    height: 80px;
    border-radius: 8px;
  }
}
@media (max-width: 991.98px) {
  .about .advantages__img {
    width: 70px;
    height: 70px;
    border-radius: 6px;
  }
}
@media (max-width: 767.98px) {
  .about .advantages__img {
    width: 60px;
    height: 60px;
    border-radius: 4px;
  }
}
@media (max-width: 575.98px) {
  .about .advantages__img {
    min-width: 50px;
    height: 50px;
    margin-right: 10px;
    margin-bottom: 0;
  }
}
.about .advantages__img-wrap {
  max-width: 66px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1199.98px) {
  .about .advantages__img-wrap {
    max-width: 66px;
  }
}
@media (max-width: 991.98px) {
  .about .advantages__img-wrap {
    max-width: 50px;
  }
}
@media (max-width: 767.98px) {
  .about .advantages__img-wrap {
    max-width: 40px;
  }
}
@media (max-width: 575.98px) {
  .about .advantages__img-wrap {
    max-width: 30px;
  }
}
.about .advantages__desc h2 {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 10px;
}
@media (max-width: 1199.98px) {
  .about .advantages__desc h2 {
    font-size: 20px;
  }
}
@media (max-width: 991.98px) {
  .about .advantages__desc h2 {
    font-size: 18px;
  }
}
@media (max-width: 767.98px) {
  .about .advantages__desc h2 {
    font-size: 16px;
  }
}
@media (max-width: 575.98px) {
  .about .advantages__desc h2 {
    font-size: 14px;
    margin-bottom: 5px;
  }
}
.about .advantages__desc p {
  font-size: 18px;
  line-height: 21px;
}
@media (max-width: 1199.98px) {
  .about .advantages__desc p {
    font-size: 16px;
  }
}
@media (max-width: 991.98px) {
  .about .advantages__desc p {
    font-size: 15px;
  }
}
@media (max-width: 767.98px) {
  .about .advantages__desc p {
    font-size: 13px;
  }
}
.ad-banner {
  margin-bottom: 0;
  filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.1));
}
@media (max-width: 991.98px) {
  .ad-banner {
    margin-bottom: 10px;
  }
}
.ad-banner .ut2-a__bg-banner {
  overflow: hidden;
  border-radius: 5px;
}
.ad-banner__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}
.ad-banner__col {
  width: calc(50% - 7.5px);
  border-radius: 10px;
  overflow: hidden;
}
@media (max-width: 767.98px) {
  .ad-banner__col {
    width: 100%;
    margin-bottom: 30px;
  }
}
.ad-banner__col a {
  display: flex;
  align-items: center;
  justify-content: center;
}
.ad-banner__col:last-child .ad-banner__item-desc {
  direction: ltr;
}
@media (max-width: 767.98px) {
  .ad-banner__col:last-child {
    margin-bottom: 0;
  }
}
.ad-banner__col:last-child .ad-banner__item .ad-banner__item-desc {
  left: auto;
  right: 0;
  text-align: right;
}
.ad-banner__item {
  position: relative;
  min-height: 192px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
@media (max-width: 1199.98px) {
  .ad-banner__item {
    min-height: 170px;
  }
}
@media (max-width: 991.98px) {
  .ad-banner__item {
    min-height: 165px;
  }
}
@media (max-width: 767.98px) {
  .ad-banner__item {
    min-height: 160px;
  }
}
@media (max-width: 575.98px) {
  .ad-banner__item {
    min-height: 155px;
  }
}
@media (max-width: 399.98px) {
  .ad-banner__item {
    min-height: 120px;
  }
}
.ad-banner__item:hover:after {
  opacity: 1;
}
.ad-banner__item:before {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  transition: all 0.3s;
}
.ad-banner__item:after {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  transition: all 0.3s;
  opacity: 0;
}
.ad-banner__item-desc {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;
}
@media (max-width: 1199.98px) {
  .ad-banner__item-desc {
    padding: 18px 13px;
  }
}
@media (max-width: 991.98px) {
  .ad-banner__item-desc {
    padding: 16px 11px;
  }
}
@media (max-width: 767.98px) {
  .ad-banner__item-desc {
    padding: 14px 10px;
  }
}
@media (max-width: 575.98px) {
  .ad-banner__item-desc {
    padding: 12px 10px;
  }
}
.ad-banner__item-desc h2,
.ad-banner__item-desc p {
  color: #fff;
}
.ad-banner__item-desc h2 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 10px;
}
@media (max-width: 1199.98px) {
  .ad-banner__item-desc h2 {
    font-size: 24px;
  }
}
@media (max-width: 991.98px) {
  .ad-banner__item-desc h2 {
    font-size: 22px;
  }
}
@media (max-width: 767.98px) {
  .ad-banner__item-desc h2 {
    font-size: 20px;
  }
}
@media (max-width: 575.98px) {
  .ad-banner__item-desc h2 {
    font-size: 18px;
  }
}
@media (max-width: 399.98px) {
  .ad-banner__item-desc h2 {
    font-size: 14px;
  }
}
.ad-banner__item-desc p {
  font-size: 20px;
}
@media (max-width: 1199.98px) {
  .ad-banner__item-desc p {
    font-size: 19px;
  }
}
@media (max-width: 991.98px) {
  .ad-banner__item-desc p {
    font-size: 18px;
  }
}
@media (max-width: 767.98px) {
  .ad-banner__item-desc p {
    font-size: 17px;
  }
}
@media (max-width: 575.98px) {
  .ad-banner__item-desc p {
    font-size: 16px;
  }
}
@media (max-width: 399.98px) {
  .ad-banner__item-desc p {
    font-size: 12px;
  }
}
.account {
  width: 100%;
  max-width: 100%;
  min-height: 570px;
  border: 4px solid #232F3E;
  box-sizing: border-box;
  box-shadow: 0px 8px 30px rgba(19, 25, 33, 0.15);
  border-radius: 40px;
  overflow: hidden;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 60px;
  display: flex;
  background-color: #232F3E;
}
@media (max-width: 1199.98px) {
  .account {
    border-radius: 35px;
  }
}
@media (max-width: 991.98px) {
  .account {
    border-radius: 25px;
  }
}
@media (max-width: 767.98px) {
  .account {
    border-radius: 15px;
  }
}
@media (max-width: 575.98px) {
  .account {
    border-radius: 10px;
    flex-direction: column;
  }
}
.account__col {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 30px 40px;
}
@media (max-width: 1199.98px) {
  .account__col {
    padding: 30px 30px;
  }
}
@media (max-width: 991.98px) {
  .account__col {
    padding: 30px 25px;
  }
}
@media (max-width: 767.98px) {
  .account__col {
    padding: 30px 20px;
  }
}
@media (max-width: 575.98px) {
  .account__col {
    padding: 30px 10px;
    width: 100% !important;
  }
}
.account__col:first-child {
  width: 41%;
  position: relative;
}
.account__col:last-child {
  width: 59%;
  padding: 70px 40px;
  background-color: #fff;
}
@media (max-width: 1199.98px) {
  .account__col:last-child {
    padding: 60px 30px;
  }
}
@media (max-width: 991.98px) {
  .account__col:last-child {
    padding: 50px 25px;
  }
}
@media (max-width: 767.98px) {
  .account__col:last-child {
    padding: 40px 20px;
  }
}
@media (max-width: 575.98px) {
  .account__col:last-child {
    padding: 30px 10px;
  }
}
.account__col-wrap {
  position: relative;
  height: 100%;
}
.account__logo {
  max-width: 100px;
  width: 100%;
}
.account__text-wrap {
  height: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.account__title {
  color: #fff;
  font-size: 20px;
  line-height: 23.44px;
  font-weight: 100;
  margin-top: 70px;
}
@media (max-width: 575.98px) {
  .account__title {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
.account__advantages {
  padding-bottom: 30px;
}
.account__advantages ul {
  margin-top: 10px;
  margin-left: 18px;
}
.account__advantages ul li {
  font-size: 11px;
  font-weight: 300;
  line-height: 14px;
  color: #adb2b9;
  list-style: disc;
}
.account__form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 767.98px) {
  .account__form {
    flex-wrap: nowrap;
    flex-direction: column;
  }
}
.account__form--nowrap {
  flex-wrap: nowrap;
  flex-direction: column;
}
.account__form--nowrap .account__form-input {
  width: 100%;
}
.account__form-input {
  display: flex;
  flex-direction: column;
  width: calc(50% - 20px);
  margin-bottom: 20px;
}
@media (max-width: 1199.98px) {
  .account__form-input {
    width: calc(50% - 15px);
  }
}
@media (max-width: 991.98px) {
  .account__form-input {
    width: calc(50% - 10px);
  }
}
@media (max-width: 767.98px) {
  .account__form-input {
    width: 100%;
    margin-bottom: 7px;
  }
}
.account__form-input:last-child {
  margin-bottom: 0;
}
.account__form-input label {
  font-size: 10px;
  color: #363c49;
  margin-bottom: 5px;
  cursor: pointer;
  text-transform: uppercase;
}
.account__form-input input {
  height: 36px;
  background: #FAFAFA;
  border: 1px solid #C9CFD9;
  border-radius: 5px;
  padding-left: 10px;
}
@media (max-width: 767.98px) {
  .account__form-input input {
    height: 30px;
    border-radius: 3px;
  }
}
.account h2 {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 30px;
}
@media (max-width: 767.98px) {
  .account h2 {
    margin-bottom: 15px;
  }
}
@media (max-width: 575.98px) {
  .account h2 {
    font-size: 20px;
  }
}
.account__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
@media (max-width: 767.98px) {
  .account__bottom {
    flex-direction: column;
  }
}
.account__bottom p {
  font-size: 13px;
  line-height: 15.23px;
  margin-bottom: 4px;
}
.account__bottom--btn-block .account__bottom-col {
  width: 50%;
}
.account__bottom--btn-block .account__bottom-col:last-child {
  display: flex;
  justify-content: flex-end;
}
.account__bottom--btn-block .btn {
  max-width: 112px;
  width: 100%;
}
@media (max-width: 767.98px) {
  .account__bottom--authorization .account__bottom-col {
    align-items: flex-start;
  }
}
@media (max-width: 767.98px) {
  .account__bottom-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center !important;
  }
}
@media (max-width: 767.98px) {
  .account__bottom-col:first-child {
    margin-bottom: 10px;
  }
}
.account__check {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.account__check label {
  font-weight: 500;
  margin-right: 6px;
  cursor: pointer;
}
.account__check input {
  cursor: pointer;
}
.account__pass {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.account__pass * {
  font-size: 11px;
  color: #363c49;
  text-decoration: none;
}
.account__pass .forgot {
  transition: all 0.3s;
}
.account__pass .forgot:hover {
  color: #FF741F;
}
.account span {
  text-transform: uppercase;
  margin: 15px 0;
  display: block;
  text-align: center;
}
.account--login {
  max-width: 790px;
}
.account--login .account__col:first-child {
  width: 55%;
}
.account--login .account__col:last-child {
  width: 45%;
}
.account__social-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.account__social-login .social-btn {
  max-width: 180px;
  border: none;
  width: 100%;
  background: #FAFAFA;
  border: 1px solid #C9CFD9;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  font-size: 10px;
  text-decoration: none;
  outline: none;
  margin-bottom: 10px;
  color: #363c49;
  transition: all 0.3s;
  position: relative;
}
.account__social-login .social-btn:hover {
  opacity: 0.4;
}
.account__social-login .social-btn:last-child {
  margin-bottom: 0;
}
.account__social-login .social-btn span {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.banner-home .swiper-slide {
  background-size: cover;
  background-repeat: no-repeat;
}
.banner-home .swiper-slide {
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  max-height: 770px;
  min-height: 770px;
}
.banner-home .swiper-slide:after {
  position: absolute;
  content: '';
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 100%;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
}
.banner-home__wrap {
  display: flex;
  align-items: flex-end;
  padding-bottom: 40px;
  position: relative;
  z-index: 1;
}
.banner-home__col:first-child {
  display: flex;
  align-items: center;
}
.banner-home__col .btn:hover {
  background-color: #b34807;
}
.banner-home__img {
  margin-right: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1199.98px) {
  .banner-home__img {
    margin-right: 37px;
  }
}
@media (max-width: 991.98px) {
  .banner-home__img {
    margin-right: 30px;
  }
}
@media (max-width: 767.98px) {
  .banner-home__img {
    margin-right: 26px;
  }
}
@media (max-width: 575.98px) {
  .banner-home__img {
    margin-right: 15px;
  }
}
.banner-home__text {
  color: #000;
  font-size: 24px;
  font-weight: 300;
  line-height: 28px;
}
@media (max-width: 1199.98px) {
  .banner-home__text {
    font-size: 22px;
  }
}
@media (max-width: 991.98px) {
  .banner-home__text {
    font-size: 21px;
  }
}
@media (max-width: 767.98px) {
  .banner-home__text {
    font-size: 20px;
  }
}
@media (max-width: 575.98px) {
  .banner-home__text {
    font-size: 19px;
  }
}
.banner-home__text .btn {
  margin-top: 20px;
}
.product-list__control {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}
.product-list .control-btn {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.55);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 37px;
  cursor: pointer;
}
.product-list .control-btn:last-child {
  margin-right: 0;
}
.product-list .control-btn svg {
  margin-right: 9px;
}
.product-list .control-btn * {
  color: rgba(0, 0, 0, 0.55);
}
.product-list .control-btn--delete-btn {
  position: relative;
  padding-left: 22px;
}
.product-list .control-btn--delete-btn:hover:before,
.product-list .control-btn--delete-btn:hover:after {
  background-color: red;
}
.product-list .control-btn--delete-btn:before,
.product-list .control-btn--delete-btn:after {
  position: absolute;
  content: '';
  width: 17px;
  height: 2px;
  background-color: #323232;
  left: 0;
  top: 6px;
  transition: all 0.3s;
}
.product-list .control-btn--delete-btn:before {
  transform: rotate(45deg);
}
.product-list .control-btn--delete-btn:after {
  transform: rotate(-45deg);
}
.product-list .control-btn--liked-btn {
  color: #FF741F;
}
@media (max-width: 767.98px) {
  .product-list .control-btn--liked-btn {
    margin-right: 13px;
  }
}
.product-list .control-btn--liked-btn svg path {
  transition: all 0.3s;
}
.product-list .control-btn--liked-btn svg path:first-child {
  fill: red;
  opacity: 0;
}
.product-list .control-btn--liked-btn svg path:last-child {
  fill: #FF741F;
}
@keyframes heartbeats {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}
.product-list .control-btn--liked-btn:hover svg {
  animation: heartbeats 0.7s infinite;
}
.product-list .control-btn--liked-btn.favorites svg path:first-child {
  opacity: 1;
}
.product-list .control-btn--liked-btn.favorites svg path:last-child {
  opacity: 0;
}
.product {
  display: flex;
  width: 100%;
}
.product:last-child .product__info-wrap {
  border: none;
}
.product__check {
  display: flex;
  align-items: center;
  margin-right: 20px;
  width: 20px;
}
@media (max-width: 575.98px) {
  .product__check {
    margin-right: 10px;
    margin-top: 15px;
    align-items: flex-start;
  }
}
.product__check label {
  padding: 0;
}
.product__check label span {
  left: 1px;
}
.product__info-wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #BCBFC1;
  padding: 15px 0;
}
@media (max-width: 575.98px) {
  .product__info-wrap {
    flex-direction: column;
    padding: 15px 0;
    margin-bottom: 20px;
  }
}
.product__info-inside {
  display: flex;
}
@media (max-width: 575.98px) {
  .product__info-inside {
    width: 100%;
    margin-bottom: 10px;
  }
}
.product__price {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 575.98px) {
  .product__price {
    flex-direction: row;
    width: 100%;
    border-top: 1px solid #BCBFC1;
    padding-top: 15px;
  }
}
.product__price .number {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 575.98px) {
  .product__price .number {
    justify-content: flex-start;
  }
}
.product__price .number input {
  border: none;
  outline: none;
  font-size: 18px;
  color: #000;
  text-align: center;
  width: 60px;
}
.product__price .number span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15px;
  height: 15px;
  cursor: pointer;
}
.product__img {
  max-width: 75px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 27px;
}
@media (max-width: 575.98px) {
  .product__img {
    margin-right: 10px;
  }
}
@media (max-width: 460.98px) {
  .product__img {
    display: none;
  }
}
.product__img a {
  display: flex;
  align-items: center;
  justify-content: center;
}
.product__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.product__name {
  color: #384351;
  font-size: 14px;
  margin-bottom: 10px;
  text-decoration: none;
}
.product__name * {
  color: #000;
  text-decoration: none;
}
.product__code {
  color: #000;
  font-size: 12px;
  margin-bottom: 10px;
  text-decoration: none;
}
.product__code * {
  color: #000;
  text-decoration: none;
}
.product__color {
  margin-right: 34px;
}
.product__color,
.product__size {
  color: #000;
  font-weight: 500;
  font-size: 12px;
}
.product__color span,
.product__size span {
  font-weight: 400;
  margin-left: 5px;
}
.product__amount {
  font-weight: 500;
  color: #000;
  font-size: 18px;
}
.product__appearance {
  display: flex;
  align-items: center;
}
.product__control {
  display: flex;
  align-items: center;
  margin-top: 15px;
}
@media (max-width: 991.98px) {
  .ordering {
    margin-top: 40px;
  }
}
@media (max-width: 991.98px) {
  .ordering__btn-wrap {
    display: flex;
    justify-content: space-around;
  }
}
@media (max-width: 575.98px) {
  .ordering__btn-wrap {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }
}
.ordering__btn-wrap .btn {
  height: 40px;
  font-size: 14px;
  border-radius: 20px;
  margin-bottom: 14px;
  width: 100%;
}
@media (max-width: 991.98px) {
  .ordering__btn-wrap .btn {
    width: 45%;
  }
}
@media (max-width: 575.98px) {
  .ordering__btn-wrap .btn {
    width: 100%;
  }
}
.ordering__btn-wrap .btn--light {
  font-weight: 500;
}
.ordering__btn-wrap .btn--light:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}
.ordering__btn-wrap .btn--light span:last-child {
  margin-left: 10px;
  font-weight: 700;
  font-size: 22px;
  margin-left: 12px;
}
@media (max-width: 1199.98px) {
  .ordering__btn-wrap .btn--light span:last-child {
    font-size: 20px;
    margin-left: 10px;
  }
}
@media (max-width: 991.98px) {
  .ordering__btn-wrap .btn--light span:last-child {
    font-size: 16px;
    margin-left: 8px;
  }
}
.total {
  padding: 24px 15px 15px;
  background: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
}
.total__grand-total,
.total__amount-products {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.total__grand-total {
  margin-bottom: 8px;
}
.total__grand-total span {
  font-size: 18px;
  color: #000;
}
.total__amount-products {
  margin-bottom: 25px;
}
.total__amount-products span {
  font-size: 12px;
  color: #656D77;
}
.total input {
  background: #FFFFFF;
  border: 1px solid #BCBFC1;
  border-radius: 15px;
  color: #bcbfc1;
  font-size: 13px;
  width: 100%;
  height: 29px;
  padding-left: 14px;
}
.brands {
  margin-bottom: 20px;
}
.brands .wrapper-box {
  padding-bottom: 0 !important;
}
.brands__wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.brands__wrap::after {
  content: "";
  flex: auto;
}
.brands__item {
  width: 14.28%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
  padding: 19px 0;
}
.brands__item img {
  width: auto;
}
@media (max-width: 1199.98px) {
  .brands__item {
    width: 15%;
  }
}
@media (max-width: 991.98px) {
  .brands__item {
    width: 20%;
  }
}
@media (max-width: 767.98px) {
  .brands__item {
    width: 25%;
  }
}
@media (max-width: 575.98px) {
  .brands__item {
    width: 32%;
  }
}
.contacts {
  padding-bottom: 50px;
}
.contacts__col-wrap {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 575.98px) {
  .contacts__col-wrap {
    flex-direction: column;
  }
}
@media (max-width: 575.98px) {
  .contacts__col {
    width: 100% !important;
  }
}
.contacts__col:first-child {
  min-width: 27.8%;
  margin-right: 20px;
}
@media (max-width: 767.98px) {
  .contacts__col:first-child {
    margin-right: 10px;
  }
}
@media (max-width: 575.98px) {
  .contacts__col:first-child {
    margin-right: 0;
    margin-bottom: 30px;
  }
}
.contacts__col:last-child {
  width: 70.12%;
}
.contacts__side-bar {
  background: #FFFFFF;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  padding: 30px 25px;
}
@media (max-width: 1199.98px) {
  .contacts__side-bar {
    padding: 25px 20px;
  }
}
@media (max-width: 1199.98px) {
  .contacts__side-bar {
    padding: 25px 15px;
  }
}
@media (max-width: 767.98px) {
  .contacts__side-bar {
    padding: 20px 10px;
  }
}
.contacts #map {
  width: 100%;
  border-radius: 5px;
  height: 100%;
}
@media (max-width: 575.98px) {
  .contacts #map {
    min-height: 300px;
  }
}
.contacts__list {
  padding-bottom: 25px;
  border-bottom: 1px solid #BCBFC1;
}
.contacts__item {
  display: flex;
  margin-bottom: 40px;
}
.contacts__item:last-child {
  margin-bottom: 0;
}
.contacts__item-icon {
  margin-right: 11px;
  margin-top: 2px;
  max-width: 21px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.contacts__item-icon svg {
  width: 100%;
  max-width: 100%;
}
@media (max-width: 1199.98px) {
  .contacts__item-icon {
    max-width: 16px;
  }
}
@media (max-width: 991.98px) {
  .contacts__item-icon {
    max-width: 14px;
  }
}
.contacts__title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 5px;
  color: #4e5864;
  line-height: 21px;
}
@media (max-width: 1199.98px) {
  .contacts__title {
    font-size: 19px;
  }
}
@media (max-width: 991.98px) {
  .contacts__title {
    font-size: 18px;
  }
}
@media (max-width: 767.98px) {
  .contacts__title {
    font-size: 17px;
  }
}
@media (max-width: 575.98px) {
  .contacts__title {
    font-size: 16px;
  }
}
.contacts__item-info {
  color: #656d77;
}
@media (max-width: 991.98px) {
  .contacts__item-info {
    font-size: 15px;
  }
}
.contacts__item-info a {
  color: #656d77;
  text-decoration: none;
  transition: all 0.3s;
}
.contacts__item-info a:hover {
  color: #FF741F;
}
.contacts__social {
  padding-top: 15px;
}
.contacts__social .contacts__title {
  margin-bottom: 20px;
}
@media (max-width: 1199.98px) {
  .contacts__social .social li {
    margin-right: 15px;
  }
}
@media (max-width: 991.98px) {
  .contacts__social .social li {
    margin-right: 10px;
  }
}
@media (max-width: 767.98px) {
  .contacts__social .social li {
    margin-right: 5px;
  }
}
.feedback {
  margin-bottom: 20px;
}
.feedback__wrap {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767.98px) {
  .feedback__wrap {
    flex-direction: column;
  }
}
.feedback__col {
  background: #FFFFFF;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.feedback__col .feedback__col-item:last-child {
  max-width: 165px;
  width: 100%;
}
@media (max-width: 991.98px) {
  .feedback__col .feedback__col-item:last-child {
    display: none;
  }
}
@media (max-width: 767.98px) {
  .feedback__col {
    width: 100%;
    margin-bottom: 20px;
  }
}
@media (max-width: 575.98px) {
  .feedback__col {
    flex-direction: column;
    align-items: stretch !important;
  }
}
.feedback__col:last-child {
  margin-bottom: 0;
}
.feedback__col p {
  font-size: 16px;
  color: #000;
  line-height: 23px;
}
@media (max-width: 1199.98px) {
  .feedback__col p {
    font-size: 15px;
  }
}
@media (max-width: 991.98px) {
  .feedback__col p {
    font-size: 14px;
  }
}
@media (max-width: 767.98px) {
  .feedback__col p {
    font-size: 13px;
  }
}
@media (max-width: 575.98px) {
  .feedback__col p {
    font-size: 12px;
  }
}
.feedback__col .title {
  margin-bottom: 10px;
  font-weight: 600;
}
.feedback__form {
  display: flex;
  align-items: stretch;
}
@media (max-width: 575.98px) {
  .feedback__form {
    flex-direction: column;
  }
}
.feedback__form .form-input {
  margin: 0;
  max-width: 219px;
  width: 100%;
  margin-right: 20px;
}
@media (max-width: 575.98px) {
  .feedback__form .form-input {
    margin-right: 0;
    margin-bottom: 10px;
    max-width: 100%;
  }
}
.feedback__bottom {
  margin-top: 30px;
}
@media (max-width: 575.98px) {
  .feedback__bottom {
    margin-top: 20px;
  }
}
.order__title {
  margin-bottom: 25px;
}
.order__form {
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 767.98px) {
  .order__form {
    flex-direction: column;
  }
}
.order__form-col {
  width: calc(50% - 8px);
}
@media (max-width: 767.98px) {
  .order__form-col {
    width: 100% !important;
  }
}
.order__form-col:first-child {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: space-between;
}
@media (max-width: 575.98px) {
  .order__form-col:first-child {
    flex-direction: column;
  }
}
.order__form-col:first-child:after {
  content: "";
  flex: auto;
}
.order__form-input {
  max-width: calc(30% - 12px);
  width: 100%;
  margin-right: 24px;
}
.order__form-input input {
  border-radius: 5px;
}
@media (max-width: 767.98px) {
  .order__form-input {
    max-width: 100%;
    margin-right: 0;
  }
}
@media (max-width: 575.98px) {
  .order__form-input {
    max-width: 100%;
  }
}
.order__form-input input {
  font-size: 11px;
}
.order__form-input--textarea {
  width: 100%;
  max-width: 100%;
  height: 100%;
}
.order__form-input--textarea textarea {
  width: 100%;
  height: 100%;
  height: calc(100% - 23px);
}
.order .pay__wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.order .pay__method {
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  padding: 10px 25px;
  display: inline-block;
  margin-bottom: 15px;
  min-height: 56px;
  display: flex;
  align-items: center;
  max-width: 200px;
  width: 100%;
  cursor: pointer;
  position: relative;
}
.order .pay__method .pay__title {
  transition: all 0.3s;
}
.order .pay__method svg path {
  transition: all 0.3s;
}
.order .pay__method:hover .pay__title {
  color: #ff741f;
}
.order .pay__method:hover svg path {
  fill: #FF741F;
}
.order .pay__method:hover .pay__icon-angle {
  transform: rotate(180deg);
}
.order .pay__method:hover .pay__method-wrap {
  display: block;
}
@media (max-width: 1199.98px) {
  .order .pay__method {
    width: 49% !important;
    padding: 10px 15px;
  }
}
@media (max-width: 767.98px) {
  .order .pay__method {
    width: 100% !important;
    padding: 10px 15px;
  }
}
@media (max-width: 575.98px) {
  .order .pay__method {
    max-width: 100%;
  }
}
.order .pay__method--without-shadow {
  box-shadow: none;
  padding: 0;
  padding-top: 10px;
  text-align: right;
}
.order .pay__method--without-shadow .pay__title {
  margin-bottom: 5px;
  text-align: left;
}
.order .pay__method--without-shadow .btn--orange {
  padding: 5px 6px;
  display: inline-flex;
  margin-bottom: 19px;
  border-radius: 5px;
}
.order .pay__method--without-shadow .btn--orange span {
  transition: all 0.3s;
}
.order .pay__method--without-shadow .btn--orange span:first-child {
  text-transform: uppercase;
  color: #fff;
  font-size: 22px;
  margin-right: 10px;
  font-weight: 700;
}
.order .pay__method--without-shadow .btn--orange span:last-child {
  text-align: right;
  color: #384351;
  font-weight: 500;
}
.order .pay__method--without-shadow .btn--orange:hover span {
  color: #fff;
}
.order .pay__title {
  font-size: 14px;
  color: #232F3E;
  margin-bottom: 0;
}
.order .pay__method-wrap {
  border: none;
  outline: none;
  padding: 10px 25px;
  display: none;
  position: absolute;
  top: calc(100% - 5px);
  background-color: #fff;
  width: 100%;
  left: 0;
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.15);
  z-index: 1;
}
@media (max-width: 1199.98px) {
  .order .pay__method-wrap {
    flex-wrap: wrap;
  }
}
.order .pay__method-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.order .pay__method-item:last-child {
  margin-bottom: 0;
}
@media (max-width: 1199.98px) {
  .order .pay__method-item {
    margin-right: 0;
    width: 49%;
    margin-bottom: 10px;
    padding-right: 10px;
  }
}
@media (max-width: 767.98px) {
  .order .pay__method-item {
    width: auto;
  }
}
.order .pay__method-item:last-child {
  margin-right: 0;
}
.order .pay__method-item .radio-btn {
  position: relative;
  display: flex;
  align-items: center;
}
.order .pay__method-item .radio-btn label {
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
}
.order .pay__method-item .radio-btn input {
  margin-right: 15px;
}
.order .basket-list {
  box-sizing: border-box;
}
@media (max-width: 991.98px) {
  .order .basket-list {
    display: flex;
    flex-direction: column-reverse;
  }
}
.order .basket-list__header {
  background-color: #FF741F;
  padding: 20px 15px;
  color: #fff;
  border-radius: 15px 15px 0 0;
}
.order .basket-list__body {
  overflow: hidden;
  padding: 20px 15px;
}
@media (max-width: 991.98px) {
  .order .basket-list__body {
    margin-bottom: 15px;
  }
}
.order .basket-list__product {
  padding: 16px 0;
  border-bottom: 1px solid #BCBFC1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}
.order .basket-list__product:first-child {
  padding-top: 0;
}
.order .basket-list__product p {
  display: inline-block;
  font-size: 14px;
}
.order .basket-list__product-delete {
  position: relative;
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin: 0 5px 0 10px;
}
.order .basket-list__product-delete:before,
.order .basket-list__product-delete:after {
  position: absolute;
  content: '';
  top: 50%;
  right: 0;
  width: 20px;
  height: 2px;
  background-color: #FF2E00;
}
.order .basket-list__product-delete:before {
  transform: translateY(-50%) rotate(45deg);
}
.order .basket-list__product-delete:after {
  transform: translateY(-50%) rotate(-45deg);
}
.order .basket-list__total-item {
  padding: 0 7px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.order .basket-list__total-item--sm span {
  font-size: 12px;
  color: #656d77;
}
.order .basket-list__total-item:last-child {
  margin-bottom: 0;
}
.order .basket-list__total-item span:first-child {
  font-weight: 500;
}
.order .basket-list__total-item--total {
  color: #FF741F;
  margin-bottom: 20px !important;
}
.order .basket-list .btn {
  width: 100%;
  min-height: 40px;
  margin-bottom: 12px;
}
.product-slider {
  margin-bottom: 40px;
}
.product-slider__wrap {
  position: relative;
  padding: 0 1px;
}
.product-slider__item {
  border: 1px solid #F8F8F8;
}
.product-slider__item:hover .product-slider__item-control {
  opacity: 1;
  pointer-events: inherit;
}
.product-slider__img {
  padding: 15px;
  border-bottom: 1px solid #F8F8F8;
  background-image: url('../img/bg-img.svg');
  background-repeat: no-repeat;
  background-size: 32px;
  background-position: center center;
  height: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
@media (max-width: 480px) {
  .product-slider__img {
    height: 200px;
  }
}
@media (max-width: 400.98px) {
  .product-slider__img {
    height: 130px;
  }
}
@media (max-width: 399.98px) {
  .product-slider__img {
    height: 200px;
  }
}
.product-slider__img::before {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: all 0.3s;
}
.product-slider__img img {
  max-width: 95%;
}
@media (max-width: 1199.98px) {
  .product-slider__img img {
    max-width: 85%;
  }
}
@media (max-width: 991.98px) {
  .product-slider__img img {
    max-width: 78%;
  }
}
@media (max-width: 640px) {
  .product-slider__img img {
    max-width: 70%;
  }
}
@media (max-width: 480px) {
  .product-slider__img img {
    max-width: 100%;
  }
}
@media (max-width: 400px) {
  .product-slider__img img {
    max-width: 67%;
  }
}
@media (max-width: 399.98px) {
  .product-slider__img img {
    max-width: 60%;
  }
}
.product-slider__img:hover::before {
  opacity: 1;
}
.product-slider__img:hover + .product-slider__info .product-slider__name {
  color: #FF741F;
}
.product-slider__img-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 170px;
  width: 100%;
}
.product-slider__info {
  padding: 10px 15px;
}
.product-slider__info .btn {
  width: 100%;
}
.product-slider .btn-slider {
  width: 33px;
  height: 33px;
  border-radius: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  background-color: #fff;
  top: 35%;
}
.product-slider .btn-slider:after {
  font-size: 16px;
  color: #BCBFC1;
}
.product-slider .btn-slider.swiper-button-prev {
  left: -35px;
}
.product-slider .btn-slider.swiper-button-next {
  right: -35px;
}
.product-slider .btn-slider.swiper-button-disabled {
  opacity: 1;
  border-color: #bcbfc13f;
  pointer-events: inherit;
}
.product-slider .btn-slider.swiper-button-disabled:after {
  color: #bcbfc13f;
}
.product-slider__name {
  font-size: 14px;
  margin-bottom: 5px;
  color: #000;
  display: block;
  text-decoration: none;
  transition: all 0.3s;
  font-weight: 500;
}
.product-slider__name:hover {
  color: #FF741F;
}
.product-slider__availability {
  color: #20bf6b;
  font-size: 12px;
  margin-bottom: 7px;
  display: flex;
  align-items: center;
}
.product-slider__availability svg {
  margin-right: 3px;
}
.product-slider__price {
  font-weight: 700;
  color: #000;
  font-size: 20px;
}
.product-slider__item-control {
  width: 35px;
  position: absolute;
  right: 15px;
  top: 10px;
  display: flex;
  flex-direction: column;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
  z-index: 9;
}
.product-slider__item-control a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px;
  width: 35px;
  height: 35px;
  transition: all 0.3s;
  background-color: #fff;
  box-shadow: inset 0 0 0 1px #f0f0f0;
  position: relative;
}
.product-slider__item-control a:first-child {
  border-radius: 8px 8px 0 0;
}
.product-slider__item-control a:last-child {
  border-radius: 0 0 8px 8px;
}
.product-slider__item-control a:hover {
  box-shadow: inset 0 0 0 1px #000;
}
.product-slider__item-control a:hover svg path {
  fill: #000;
}
.product-slider__item-control a:hover .alert {
  opacity: 1;
}
.product-slider__item-control a svg path {
  transition: all 0.3s;
  fill: #595959;
}
.product-slider__item-control a .alert {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  display: block;
  right: 60%;
  top: 100%;
  color: #fff;
  font-size: 11px;
  min-width: 150px;
  text-align: center;
  padding: 5px 10px;
  z-index: 9;
  opacity: 0;
  transition: all 0.3s;
  pointer-events: none;
}
.product-slider__item-control a .alert:before {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border-bottom: 10px solid rgba(0, 0, 0, 0.7);
  border-left: 10px solid transparent;
  right: 5px;
  bottom: 100%;
}
.stock {
  margin-bottom: 40px;
}
.stock__wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-size: cover;
  background-position: center center;
  position: relative;
  padding: 25px 35px;
}
@media (max-width: 1199.98px) {
  .stock__wrap {
    padding: 20px 25px;
  }
}
@media (max-width: 991.98px) {
  .stock__wrap {
    padding: 15px 20px;
  }
}
@media (max-width: 767.98px) {
  .stock__wrap {
    padding: 15px;
    justify-content: center;
    background: none !important;
  }
}
@media (max-width: 575.98px) {
  .stock__wrap {
    padding: 5px;
  }
}
.stock__wrap:before {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(255, 163, 108, 0.62);
}
@media (max-width: 767.98px) {
  .stock__wrap:before {
    display: none;
  }
}
.stock__item {
  position: relative;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  height: auto;
  width: calc(25% - 30px);
  text-align: right;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: left bottom;
  text-decoration: none;
}
.stock__item:before {
  content: "";
  display: block;
  padding-top: 79%;
}
@media (max-width: 1199.98px) {
  .stock__item {
    width: calc(25% - 15px);
  }
}
@media (max-width: 991.98px) {
  .stock__item {
    width: calc(25% - 5px);
  }
}
@media (max-width: 767.98px) {
  .stock__item {
    width: calc(50% - 40px);
    margin-bottom: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
  }
}
@media (max-width: 575.98px) {
  .stock__item {
    width: calc(50% - 5px);
  }
}
@media (max-width: 400.98px) {
  .stock__item {
    width: 100%;
    margin-bottom: 20px !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}
.stock__item:last-child {
  margin-right: 0;
  margin-bottom: 0;
}
@media (max-width: 767.98px) {
  .stock__item:nth-child(2n) {
    margin-left: 20px;
  }
}
@media (max-width: 575.98px) {
  .stock__item:nth-child(2n) {
    margin-left: 10px;
  }
}
.stock__item:nth-child(3) {
  margin-bottom: 0;
}
.stock__title {
  font-size: 16px;
  color: #000;
  font-weight: 400;
  position: absolute;
  top: 10px;
  right: 10px;
}
@media (max-width: 991.98px) {
  .stock__title {
    font-size: 15px;
    top: 8px;
  }
}
@media (max-width: 767.98px) {
  .stock__title {
    font-size: 13px;
    top: 7px;
  }
}
@media (max-width: 575.98px) {
  .stock__title {
    font-size: 10px;
    top: 6px;
  }
}
.stock__title span {
  font-size: 14px;
  color: #FF741F;
  font-weight: 600;
  display: block;
}
@media (max-width: 767.98px) {
  .stock__title span {
    font-size: 12px;
  }
}
@media (max-width: 575.98px) {
  .stock__title span {
    font-size: 10px;
  }
}
.content-section {
  padding: 100px 0;
}
@media (max-width: 1199.98px) {
  .content-section {
    padding: 70px 0;
  }
}
@media (max-width: 991.98px) {
  .content-section {
    padding: 50px 0;
  }
}
@media (max-width: 767.98px) {
  .content-section {
    padding: 30px 0;
  }
}
.content-section__col-wrap {
  display: flex;
}
@media (max-width: 575.98px) {
  .content-section__col-wrap {
    flex-direction: column !important;
    padding: 0 20px;
  }
}
.content-section--float-right .content-section__col-wrap {
  justify-content: space-between;
  flex-direction: row-reverse;
}
.content-section--float-right .content-section__img {
  margin-left: 60px;
}
@media (max-width: 1199.98px) {
  .content-section--float-right .content-section__img {
    margin-left: 50px;
  }
}
@media (max-width: 991.98px) {
  .content-section--float-right .content-section__img {
    margin-left: 40px;
  }
}
@media (max-width: 767.98px) {
  .content-section--float-right .content-section__img {
    margin-left: 30px;
  }
}
@media (max-width: 575.98px) {
  .content-section--float-right .content-section__img {
    margin-left: 20px;
  }
}
.content-section--float-right .content-section__title {
  color: #fff;
  font-size: 48px;
  line-height: 56.25px;
}
@media (max-width: 1199.98px) {
  .content-section--float-right .content-section__title {
    font-size: 35px;
    line-height: normal;
  }
}
@media (max-width: 991.98px) {
  .content-section--float-right .content-section__title {
    font-size: 30px;
  }
}
@media (max-width: 767.98px) {
  .content-section--float-right .content-section__title {
    font-size: 25px;
  }
}
@media (max-width: 575.98px) {
  .content-section--float-right .content-section__title {
    font-size: 20px;
  }
}
.content-section--float-right .content-section__subtitle {
  color: #fff;
}
.content-section--float-right .content-section__subtitle:after {
  background-color: #fff;
}
.content-section--float-right .content-section__text * {
  color: #fff;
}
.content-section--float-left .content-section__text-wrap {
  padding-right: 20px;
}
.content-section--float-left .content-section__img {
  margin-right: 60px;
}
@media (max-width: 1199.98px) {
  .content-section--float-left .content-section__img {
    margin-right: 50px;
  }
}
@media (max-width: 991.98px) {
  .content-section--float-left .content-section__img {
    margin-right: 40px;
  }
}
@media (max-width: 767.98px) {
  .content-section--float-left .content-section__img {
    margin-right: 30px;
  }
}
@media (max-width: 575.98px) {
  .content-section--float-left .content-section__img {
    margin-right: 20px;
  }
}
.content-section--float-left .content-section__title {
  font-size: 36px;
  line-height: 42.19px;
  color: #FF741F;
}
@media (max-width: 1199.98px) {
  .content-section--float-left .content-section__title {
    line-height: normal;
    font-size: 30px;
  }
}
@media (max-width: 991.98px) {
  .content-section--float-left .content-section__title {
    font-size: 25px;
  }
}
@media (max-width: 767.98px) {
  .content-section--float-left .content-section__title {
    font-size: 20px;
  }
}
.content-section--float-left .content-section__subtitle {
  color: #FF741F;
}
.content-section--float-left .content-section__subtitle:after {
  background-color: #FF741F;
}
.content-section--float-left .content-section__text * {
  color: #656D77;
}
.content-section__img {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 575.98px) {
  .content-section__img {
    margin: 0 !important;
    margin-bottom: 30px !important;
  }
}
.content-section__text-wrap {
  max-width: 890px;
  width: 100%;
  height: 100%;
  position: relative;
  padding-bottom: 65px;
}
@media (max-width: 575.98px) {
  .content-section__text-wrap {
    padding-bottom: 65px;
  }
}
.content-section__text-wrap .btn {
  position: absolute;
  bottom: 0;
}
.content-section__text p {
  line-height: 18.75px;
  margin-bottom: 40px;
}
@media (max-width: 1199.98px) {
  .content-section__text p {
    margin-bottom: 38px;
  }
}
@media (max-width: 991.98px) {
  .content-section__text p {
    font-size: 15px;
    margin-bottom: 35px;
  }
}
@media (max-width: 767.98px) {
  .content-section__text p {
    font-size: 14px;
    margin-bottom: 30px;
  }
}
@media (max-width: 575.98px) {
  .content-section__text p {
    margin-bottom: 20px;
  }
}
.content-section__text p:last-child {
  margin-bottom: 0;
}
.content-section__text ul {
  margin-left: 30px;
}
.content-section__text ul li {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 10px;
}
.content-section__text ul li:last-child {
  margin-bottom: 0;
}
@media (max-width: 1199.98px) {
  .content-section__text ul li {
    font-size: 18px;
  }
}
@media (max-width: 991.98px) {
  .content-section__text ul li {
    font-size: 16px;
  }
}
@media (max-width: 576.98px) {
  .content-section__text ul li {
    font-size: 15px;
  }
}
@media (max-width: 575.98px) {
  .content-section__text ul li {
    font-size: 14px;
  }
}
.content-section__title {
  margin-bottom: 25px;
  font-weight: 400;
}
@media (max-width: 1199.98px) {
  .content-section__title {
    margin-bottom: 20px;
  }
}
@media (max-width: 991.98px) {
  .content-section__title {
    margin-bottom: 18px;
  }
}
@media (max-width: 767.98px) {
  .content-section__title {
    margin-bottom: 15px;
  }
}
@media (max-width: 575.98px) {
  .content-section__title {
    margin-bottom: 10px;
  }
}
.content-section__subtitle {
  font-size: 24px;
  padding-bottom: 40px;
  position: relative;
  margin-bottom: 40px;
  font-weight: 400;
}
@media (max-width: 1199.98px) {
  .content-section__subtitle {
    font-size: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
}
@media (max-width: 991.98px) {
  .content-section__subtitle {
    font-size: 18px;
    margin-bottom: 18px;
    padding-bottom: 18px;
  }
}
@media (max-width: 767.98px) {
  .content-section__subtitle {
    font-size: 16px;
    margin-bottom: 15px;
    padding-bottom: 15px;
  }
}
@media (max-width: 575.98px) {
  .content-section__subtitle {
    font-size: 14px;
  }
}
.content-section__subtitle:after {
  position: absolute;
  content: '';
  width: 120px;
  height: 3px;
  left: 0;
  bottom: 0;
}
.cooperation__addvantages {
  padding-top: 80px;
  padding-bottom: 50px;
  background-color: #292d32;
}
@media (max-width: 1199.98px) {
  .cooperation__addvantages {
    padding-top: 70px;
  }
}
@media (max-width: 1199.98px) {
  .cooperation__addvantages {
    padding-top: 60px;
  }
}
@media (max-width: 1199.98px) {
  .cooperation__addvantages {
    padding-top: 50px;
  }
}
@media (max-width: 1199.98px) {
  .cooperation__addvantages {
    padding-top: 30px;
  }
}
.cooperation__addvantages-list {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767.98px) {
  .cooperation__addvantages-list {
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
@media (max-width: 575.98px) {
  .cooperation__addvantages-list {
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
  }
}
.cooperation__item {
  width: calc(33.33% - 22px);
  background: #202027;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.15);
  padding: 60px 30px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 1199.98px) {
  .cooperation__item {
    padding: 55px 25px 25px;
  }
}
@media (max-width: 991.98px) {
  .cooperation__item {
    padding: 45px 15px 15px;
    width: calc(33.33% - 10px);
  }
}
@media (max-width: 767.98px) {
  .cooperation__item {
    padding: 40px 20px 20px;
    width: calc(50% - 20px);
    margin-bottom: 20px;
  }
  .cooperation__item:last-child {
    margin-bottom: 0;
  }
}
@media (max-width: 575.98px) {
  .cooperation__item {
    width: 100%;
    padding: 35px 15px 20px;
  }
}
.cooperation__item p {
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}
@media (max-width: 991.98px) {
  .cooperation__item p {
    font-size: 13px;
  }
}
.cooperation__item-img {
  max-width: 66px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}
@media (max-width: 1199.98px) {
  .cooperation__item-img {
    margin-bottom: 38px;
  }
}
@media (max-width: 991.98px) {
  .cooperation__item-img {
    margin-bottom: 35px;
  }
}
@media (max-width: 991.98px) {
  .cooperation__item-img {
    margin-bottom: 30px;
  }
}
@media (max-width: 767.98px) {
  .cooperation__item-img {
    margin-bottom: 25px;
  }
}
.cooperation__item-title {
  font-weight: 500;
  color: #fff;
  font-size: 22px;
  line-height: 25.78px;
  text-align: center;
  margin-bottom: 15px;
  height: 55px;
}
@media (max-width: 1199.98px) {
  .cooperation__item-title {
    font-size: 21px;
  }
}
@media (max-width: 991.98px) {
  .cooperation__item-title {
    font-size: 18px;
  }
}
@media (max-width: 767.98px) {
  .cooperation__item-title {
    font-size: 19px;
  }
}
@media (max-width: 575.98px) {
  .cooperation__item-title {
    font-size: 18px;
    height: auto;
  }
}
.cooperation__item-title span {
  color: #FF741F;
  font-weight: 400;
  margin-left: 7px;
}
.cooperation__addvantages-graphic {
  position: relative;
  padding-top: 145px;
  padding-bottom: 50px;
  overflow: hidden;
}
@media (max-width: 1199.98px) {
  .cooperation__addvantages-graphic {
    padding-top: 135px;
    padding-bottom: 45px;
  }
}
@media (max-width: 991.98px) {
  .cooperation__addvantages-graphic {
    padding-top: 125px;
    padding-bottom: 40px;
  }
}
@media (max-width: 767.98px) {
  .cooperation__addvantages-graphic {
    padding-top: 115px;
    padding-bottom: 35px;
  }
}
@media (max-width: 575.98px) {
  .cooperation__addvantages-graphic {
    padding-top: 105px;
    padding-bottom: 30px;
  }
}
@media (max-width: 1599.98px) {
  .cooperation__addvantages-graphic svg {
    transform: scale(1.5);
  }
}
.cooperation__addvantages-graphic:before,
.cooperation__addvantages-graphic:after {
  position: absolute;
  content: '';
  height: 64%;
  width: 14.58%;
  background-size: contain;
  background-repeat: no-repeat;
}
.cooperation__addvantages-graphic:before {
  top: 30px;
  left: 3.38%;
  background-image: url('../img/eq1.png');
  background-position: left;
}
.cooperation__addvantages-graphic:after {
  bottom: 0;
  right: 3.38%;
  background-image: url('../img/eq2.png');
  background-position: right;
}
.cooperation__graphic {
  position: relative;
}
.cooperation__graphic-text {
  position: absolute;
  top: -60px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 575.98px) {
  .cooperation__graphic-text {
    top: -40px;
  }
}
.cooperation__graphic-text h2 {
  font-size: 56px;
  color: #fff;
  font-weight: 500;
  line-height: 65.63px;
  margin-bottom: 40px;
}
@media (max-width: 1599.98px) {
  .cooperation__graphic-text h2 {
    font-size: 40px;
    line-height: normal;
    margin-bottom: 20px;
  }
}
@media (max-width: 991.98px) {
  .cooperation__graphic-text h2 {
    font-size: 30px;
    margin-bottom: 15px;
  }
}
@media (max-width: 767.98px) {
  .cooperation__graphic-text h2 {
    font-size: 20px;
  }
}
@media (max-width: 575.98px) {
  .cooperation__graphic-text h2 {
    font-size: 13px;
    margin-bottom: 5px;
    font-weight: 400;
  }
}
.cooperation__graphic-text p {
  color: #fff;
  font-size: 20px;
  line-height: 23.44px;
}
@media (max-width: 1599.98px) {
  .cooperation__graphic-text p {
    font-size: 18px;
    line-height: normal;
  }
}
@media (max-width: 991.98px) {
  .cooperation__graphic-text p {
    font-size: 16px;
  }
}
@media (max-width: 767.98px) {
  .cooperation__graphic-text p {
    font-size: 12px;
  }
}
@media (max-width: 575.98px) {
  .cooperation__graphic-text p {
    font-size: 10px;
  }
}
.cooperation__graphic-total-result {
  width: 360px;
  height: 360px;
  border-radius: 100%;
  background-color: #FF741F;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media (max-width: 1599.98px) {
  .cooperation__graphic-total-result {
    width: 300px;
    height: 300px;
  }
}
@media (max-width: 991.98px) {
  .cooperation__graphic-total-result {
    width: 220px;
    height: 220px;
  }
}
@media (max-width: 767.98px) {
  .cooperation__graphic-total-result {
    width: 150px;
    height: 150px;
  }
}
@media (max-width: 575.98px) {
  .cooperation__graphic-total-result {
    min-width: 100px;
    max-width: 100px;
    height: 100px;
  }
}
.cooperation__graphic-total-result p {
  font-size: 22px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
}
@media (max-width: 1599.98px) {
  .cooperation__graphic-total-result p {
    font-size: 20px;
  }
}
@media (max-width: 991.98px) {
  .cooperation__graphic-total-result p {
    font-size: 18px;
  }
}
@media (max-width: 767.98px) {
  .cooperation__graphic-total-result p {
    font-size: 12px;
  }
}
@media (max-width: 575.98px) {
  .cooperation__graphic-total-result p {
    font-size: 9px;
  }
}
.cooperation__graphic-total-result p span {
  font-size: 20px;
  font-weight: 700;
  display: block;
}
@media (max-width: 1599.98px) {
  .cooperation__graphic-total-result p span {
    font-size: 18px;
  }
}
@media (max-width: 991.98px) {
  .cooperation__graphic-total-result p span {
    font-size: 16px;
  }
}
@media (max-width: 767.98px) {
  .cooperation__graphic-total-result p span {
    font-size: 11px;
  }
}
@media (max-width: 575.98px) {
  .cooperation__graphic-total-result p span {
    font-size: 8px;
  }
}
.cooperation__graphic-percent {
  font-size: 72px;
  line-height: 85px;
  font-weight: 600;
  color: #fff;
  font-family: 'Oswald', sans-serif;
}
@media (max-width: 1199.98px) {
  .cooperation__graphic-percent {
    font-size: 60px;
    line-height: 70px;
  }
}
@media (max-width: 991.98px) {
  .cooperation__graphic-percent {
    font-size: 50px;
  }
}
@media (max-width: 767.98px) {
  .cooperation__graphic-percent {
    font-size: 40px;
    line-height: 50px;
  }
}
@media (max-width: 575.98px) {
  .cooperation__graphic-percent {
    font-size: 20px;
    line-height: normal;
  }
}
.cooperation .graphic-points tspan {
  fill: #fff;
}
.cooperation .graphic-points tspan.mc {
  fill: #FF741F;
}
.not-found {
  display: flex;
  align-items: center;
  padding: 40px 0;
}
@media (max-width: 767.98px) {
  .not-found {
    flex-direction: column;
    justify-content: center;
  }
}
.not-found__img {
  margin-right: 30px;
  width: 55%;
}
@media (max-width: 1199.98px) {
  .not-found__img {
    width: 40%;
  }
}
@media (max-width: 767.98px) {
  .not-found__img {
    width: 50%;
    margin: 0;
    margin-bottom: 30px;
  }
}
@media (max-width: 991.98px) {
  .not-found__text {
    width: 50%;
  }
}
@media (max-width: 767.98px) {
  .not-found__text {
    width: 70%;
  }
}
@media (max-width: 575.98px) {
  .not-found__text {
    width: 100%;
    text-align: center;
  }
}
.not-found__text p {
  font-size: 22px;
  margin-bottom: 8px;
  color: #656D77;
  line-height: 25.78px;
}
@media (max-width: 1199.98px) {
  .not-found__text p {
    font-size: 21px;
  }
}
@media (max-width: 991.98px) {
  .not-found__text p {
    font-size: 20px;
  }
}
@media (max-width: 767.98px) {
  .not-found__text p {
    font-size: 18px;
  }
}
@media (max-width: 575.98px) {
  .not-found__text p {
    font-size: 16px;
  }
}
.not-found__text h2 {
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 15px;
}
@media (max-width: 991.98px) {
  .not-found__text h2 {
    font-size: 47px;
  }
}
@media (max-width: 767.98px) {
  .not-found__text h2 {
    font-size: 35px;
  }
}
@media (max-width: 575.98px) {
  .not-found__text h2 {
    font-size: 30px;
  }
}
.not-found__text .btn {
  margin-top: 30px;
}
@media (max-width: 575.98px) {
  .not-found__text .btn {
    margin-top: 20px;
  }
}
.wrapper-box,
.product-slider {
  padding: 20px !important;
  border-radius: 5px !important;
}
@media (max-width: 1199.98px) {
  .wrapper-box,
  .product-slider {
    padding: 18px !important;
  }
}
@media (max-width: 991.98px) {
  .wrapper-box,
  .product-slider {
    padding: 17px !important;
  }
}
@media (max-width: 767.98px) {
  .wrapper-box,
  .product-slider {
    padding: 16px !important;
  }
}
@media (max-width: 575.98px) {
  .wrapper-box,
  .product-slider {
    padding: 15px !important;
  }
}
.box-shadow {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.wrapper-box {
  padding: 20px;
  border-radius: 5px;
}
@media (max-width: 1199.98px) {
  .wrapper-box {
    padding: 18px;
  }
}
@media (max-width: 991.98px) {
  .wrapper-box {
    padding: 17px;
  }
}
@media (max-width: 767.98px) {
  .wrapper-box {
    padding: 16px;
  }
}
@media (max-width: 575.98px) {
  .wrapper-box {
    padding: 15px;
  }
}
.container {
  max-width: 1350px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
.wrapper-tranlateY {
  margin-top: -450px;
  position: relative;
  z-index: 1;
}
@media (max-width: 440.98px) {
  .wrapper-tranlateY {
    margin-top: -500px;
  }
}
.brands-slider {
  position: relative;
}
@media (max-width: 991.98px) {
  .brands-slider {
    margin-bottom: 20px;
  }
}
.brands-slider .swiper {
  padding: 10px 0 !important;
}
.brands-slider__item {
  width: 78px;
  height: 78px;
  border-radius: 100%;
  overflow: hidden;
  background-color: #fff;
  display: flex;
  align-items: center;
  margin: auto;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));
}
@media screen and (max-width: 430px) {
  .brands-slider__item {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.3));
  }
}
.brands-slider__item img {
  max-width: 100%;
}
.brands-slider .nav-btn {
  border-radius: 100%;
  width: 40px;
  height: 40px;
  overflow: hidden;
}
.brands-slider .nav-btn:after {
  color: #ccc;
  font-size: 25px;
}
.brands-slider .nav-btn.swiper-button-prev {
  left: 20px;
  background: linear-gradient(-270deg, #FFFFFF 60%, rgba(255, 255, 255, 0) 100%);
}
@media screen and (max-width: 400px) {
  .brands-slider .nav-btn.swiper-button-prev {
    display: none;
  }
}
.brands-slider .nav-btn.swiper-button-next {
  right: 20px;
  background: linear-gradient(270deg, #FFFFFF 60%, rgba(255, 255, 255, 0) 100%);
}
@media screen and (max-width: 400px) {
  .brands-slider .nav-btn.swiper-button-next {
    display: none;
  }
}
.brands-slider .nav-btn.swiper-button-disabled {
  display: none;
}
.brands-slider .nav-btn:hover:after {
  color: #000;
}
.offer {
  margin-top: 55px;
  margin-bottom: 20px;
}
@media (max-width: 991.98px) {
  .offer {
    margin: 0;
  }
}
.offer__wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.offer__col {
  width: calc(25% - 14px);
  background: #FFFFFF;
  border-radius: 5px;
  padding: 20px;
}
@media (max-width: 1599.98px) {
  .offer__col {
    padding: 15px;
    width: calc(25% - 7px);
  }
}
@media (max-width: 1199.98px) {
  .offer__col {
    width: calc(25% - 4px);
  }
}
@media (max-width: 991.98px) {
  .offer__col {
    width: calc(50% - 10px);
    margin-bottom: 20px;
  }
}
@media (max-width: 399.98px) {
  .offer__col {
    width: 100%;
  }
}
.offer__col a {
  text-decoration: none;
}
.offer__col .title {
  font-size: 20px;
}
@media (max-width: 1599.98px) {
  .offer__col .title {
    font-size: 18px;
  }
}
@media (max-width: 1199.98px) {
  .offer__col .title {
    font-size: 15px;
  }
}
@media (max-width: 991.98px) {
  .offer__col .title {
    font-size: 14px;
  }
}
@media (max-width: 767.98px) {
  .offer__col .title {
    font-size: 13px;
  }
}
@media (max-width: 475.98px) {
  .offer__col .title {
    font-size: 12px;
  }
}
.offer__item-wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.offer__item {
  width: calc(50% - 10px);
}
@media (max-width: 1599.98px) {
  .offer__item {
    width: calc(50% - 5px);
  }
}
@media (max-width: 1199.98px) {
  .offer__item {
    width: calc(50% - 2px);
  }
}
@media (max-width: 991.98px) {
  .offer__item {
    width: calc(50% - 10px);
  }
}
.offer__item:nth-child(1),
.offer__item:nth-child(2) {
  margin-bottom: 15px;
}
.offer__item-img {
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.offer__item-name {
  font-size: 12px;
  color: #656d77;
}
@media (max-width: 1199.98px) {
  .offer__item-name {
    font-size: 10.2px;
  }
}
@media (max-width: 991.98px) {
  .offer__item-name {
    font-size: 13px;
  }
}
@media (max-width: 767.98px) {
  .offer__item-name {
    font-size: 12px;
  }
}
@media (max-width: 575.98px) {
  .offer__item-name {
    font-size: 10.2px;
  }
}
.random-offer {
  margin-bottom: 20px;
}
.random-offer .swiper-slide {
  height: auto;
}
.random-offer__item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.random-offer__item img {
  max-height: 200px;
  width: auto;
}
.season-offer {
  margin-bottom: 20px;
}
.season-offer__banner {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 225px;
  text-decoration: none;
  color: #000;
  display: block;
}
@media (max-width: 1199.98px) {
  .season-offer__banner {
    min-height: 160px;
  }
}
@media (max-width: 991.98px) {
  .season-offer__banner {
    min-height: 140px;
  }
}
@media (max-width: 767.98px) {
  .season-offer__banner {
    min-height: 100px;
  }
}
@media (max-width: 575.98px) {
  .season-offer__banner {
    min-height: 80px;
  }
}
@media (max-width: 430.98px) {
  .season-offer__banner {
    min-height: 60px;
  }
}
.short-desc {
  margin-bottom: 20px;
}
.short-desc__wrap {
  display: flex;
}
@media (max-width: 1199.98px) {
  .short-desc__wrap {
    justify-content: space-between;
  }
}
@media (max-width: 767.98px) {
  .short-desc__wrap {
    flex-direction: column;
  }
}
.short-desc__item {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
@media (max-width: 1199.98px) {
  .short-desc__item {
    width: calc(50% - 10px);
  }
}
@media (max-width: 991.98px) {
  .short-desc__item {
    flex-direction: column;
  }
}
@media (max-width: 767.98px) {
  .short-desc__item {
    width: 100%;
    align-items: flex-start;
    margin-bottom: 20px;
  }
}
.short-desc__item:nth-child(2) {
  max-width: 285px;
  min-width: 285px;
  width: 100%;
}
@media (max-width: 1199.98px) {
  .short-desc__item:nth-child(2) {
    display: none;
  }
}
.short-desc__item:last-child {
  margin: 0;
}
.short-desc__item p {
  font-size: 14px;
  max-width: 430px;
  width: 100%;
}
@media (max-width: 767.98px) {
  .short-desc__item p {
    max-width: 100%;
  }
}
.short-desc__item .btn {
  margin-left: 10px;
  margin-top: 20px;
  min-width: 120px;
}
@media (max-width: 767.98px) {
  .short-desc__item .btn {
    margin-left: 0;
  }
}
#litecheckout_step_customer_info {
  background: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  padding: 15px 20px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 25px;
}
#litecheckout_step_customer_info .litecheckout__field {
  flex-basis: calc(33.33% - 12px);
  flex-grow: inherit;
  margin-bottom: 24px;
}
#litecheckout_step_customer_info .litecheckout__field:nth-last-child(-n+3) {
  margin-bottom: 0;
}
#litecheckout_step_customer_info .litecheckout__field label {
  font-size: 10px;
  color: #BCBFC1;
}
#litecheckout_step_shipping .litecheckout__group {
  align-items: flex-end;
  height: auto;
}
#litecheckout_step_shipping .litecheckout__shipping-method__wrapper {
  height: 36px;
}
#litecheckout_step_shipping .litecheckout .litecheckout__input,
#litecheckout_step_shipping .litecheckout__shipping-method__wrapper,
#litecheckout_step_shipping .litecheckout__input--selectable--select,
#litecheckout_step_shipping .litecheckout select {
  min-height: 36px;
}
#litecheckout_step_shipping .litecheckout__shipping-method.litecheckout__field.litecheckout__field--xsmall {
  flex-basis: 33.33%;
  height: auto;
  position: relative;
}
#litecheckout_step_shipping .litecheckout__shipping-method.litecheckout__field.litecheckout__field--xsmall:first-child label {
  border-radius: 5px 0 0 0;
}
#litecheckout_step_shipping .litecheckout__shipping-method.litecheckout__field.litecheckout__field--xsmall:last-child label {
  border-radius: 0 5px 0 0;
}
#litecheckout_step_shipping .litecheckout__shipping-method.litecheckout__field.litecheckout__field--xsmall label {
  background-color: #F1F1F1;
  border-radius: 0;
  border: none;
}
#litecheckout_step_shipping .litecheckout__shipping-method.litecheckout__field.litecheckout__field--xsmall .litecheckout__shipping-method__title {
  color: #363C49;
  font-size: 14px;
  text-align: center;
}
#litecheckout_step_shipping .litecheckout__shipping-method__radio:checked + .litecheckout__shipping-method__wrapper {
  background-color: #FFFFFF !important;
  box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.05) !important;
  border-radius: 5px 5px 0px 0px !important;
  height: 45px;
}
#litecheckout_step_shipping .litecheckout__shipping-method__radio:checked + .litecheckout__shipping-method__wrapper .litecheckout__shipping-method__title {
  color: #656D77;
}
.litecheckout__field.cm-field-container.litecheckout__field--xlarge.litecheckout__field--input {
  margin: 20px 0;
}
#litecheckout_payments_form .litecheckout__step-title {
  font-size: 16px;
  font-weight: 400;
  color: #384351;
}
#sidebox_120 {
  display: none;
}
.pay__icon {
  margin-right: 10px;
  display: flex;
  align-items: center;
}
.pay__icon-angle {
  position: absolute;
  right: 20px;
  transition: all 0.3s;
}
.work-time {
  color: #FFCD00;
  margin-bottom: 20px;
}
.basket-list .btn--light span {
  color: #363c49;
}
.basket-list .btn--light span:first-child {
  font-weight: 500;
  font-size: 14px;
}
.basket-list .btn--light span:last-child {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 700;
  margin-left: 10px;
}
.product-slider {
  margin-bottom: 20px !important;
}
.product-slider .owl-next {
  right: -45px !important;
}
.product-slider .owl-prev {
  left: -45px !important;
}
.product-slider .ut2-gl__body {
  box-shadow: inset 0 0 0 1px #F8F8F8;
  padding: 0;
}
.product-slider .ut2-gl__body .ut2-gl__image {
  padding: 10px;
  border-bottom: 1px solid #F8F8F8;
}
.product-slider .ut2-gl__body .ut2-gl__content {
  padding: 10px;
}
.homepage-banners .owl-item {
  position: relative;
}
.homepage-banners .owl-item:before {
  position: absolute;
  content: '';
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 100%;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
  z-index: 1;
}
.homepage-banners .owl-item .ut2-a__content {
  position: relative;
  z-index: 9;
  align-items: flex-end;
}
@media screen and (max-width: 767px) {
  .homepage-banners .owl-item .ut2-a__content {
    flex-direction: row !important;
  }
}
@media screen and (max-width: 430px) {
  .homepage-banners .owl-item .ut2-a__content {
    flex-direction: column !important;
    align-items: center !important;
  }
}
.homepage-banners .ut2-a__bg-banner {
  padding-top: 40px;
}
@media screen and (max-width: 430px) {
  .homepage-banners .ut2-a__bg-banner {
    height: auto !important;
  }
}
.homepage-banners .width-half {
  max-width: max-content !important;
}
.homepage-banners .width-half:first-child {
  margin-right: 40px;
}
@media screen and (max-width: 575px) {
  .homepage-banners .width-half:first-child {
    margin-right: 20px;
  }
}
.homepage-banners .ty-btn {
  padding-left: 20px;
  padding-right: 20px;
}
.translateY {
  margin-top: -300px;
}
@media screen and (max-width: 430px) {
  .translateY {
    margin-top: 0;
  }
}
.translateYZ {
  z-index: 9;
  position: relative;
}
#dropdown_680 .ty-menu__wrapper {
  margin-top: -55px !important;
}
#dropdown_680 .ty-menu__wrapper .ty-menu__menu-btn.m-button i {
  display: none;
}
.indent-class {
  padding: 0;
}
.ad-banner-group {
  margin-bottom: 20px;
}
@media (max-width: 767.98px) {
  .ad-banner-group {
    display: none;
  }
}
.ad-banner-group .small-banner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.ad-banner-group .ut2-bottom {
  padding-bottom: 0;
}
@media screen and (max-width: 1510px) {
  .ad-banner-group .row-fluid {
    max-width: 1350px !important;
  }
}
.ad-banner-group .row-fluid div[class^="span"]:not(:last-child) {
  margin-right: 20px;
}
.category-block {
  margin-bottom: 20px;
}
.category-block .swiper .swiper-slide {
  display: flex;
  justify-content: center;
}
.category-block__item {
  width: 100%;
  max-width: 141px;
  display: inline-flex;
  flex-direction: column;
  text-decoration: none;
  align-items: center;
  justify-content: center;
}
.category-block__item:last-child {
  margin-right: 0;
}
@media (max-width: 1199.98px) {
  .category-block__item {
    max-width: 120px;
  }
}
@media (max-width: 991.98px) {
  .category-block__item {
    max-width: 110px;
  }
}
@media (max-width: 767.98px) {
  .category-block__item {
    max-width: 100px;
  }
}
.category-block__img {
  max-width: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  padding: 0 5px;
}
@media (max-width: 1199.98px) {
  .category-block__img {
    max-width: 55px;
    margin-bottom: 13px;
  }
}
@media (max-width: 991.98px) {
  .category-block__img {
    max-width: 50px;
    margin-bottom: 11px;
  }
}
@media (max-width: 767.98px) {
  .category-block__img {
    max-width: 45px;
    margin-bottom: 9px;
  }
}
@media (max-width: 575.98px) {
  .category-block__img {
    max-width: 40px;
    margin-bottom: 7px;
  }
}
.category-block__name {
  color: #131921;
  font-size: 14px;
  white-space: normal;
  text-align: center;
}
@media (max-width: 991.98px) {
  .category-block__name {
    font-size: 13px;
  }
}
@media (max-width: 767.98px) {
  .category-block__name {
    font-size: 12px;
  }
}
@media (max-width: 575.98px) {
  .category-block__name {
    font-size: 11px;
  }
}
.additional-desc {
  font-size: 14px;
  line-height: 16.41px;
  color: #131921;
}
.additional-desc__title {
  font-weight: 500;
  margin-bottom: 20px;
}
.additional-desc__desc {
  height: 50px;
  position: relative;
  margin-bottom: 15px;
  overflow: hidden;
  transition: all 0.3s;
}
.additional-desc__desc:after {
  position: absolute;
  content: '';
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  transition: all 0.3s;
}
.additional-desc__desc.--open {
  overflow: visible;
  height: auto;
}
.additional-desc__desc.--open:after {
  opacity: 0;
  pointer-events: none;
}
.additional-desc__more,
.additional-desc__hide {
  font-weight: 500;
  cursor: pointer;
}
.additional-desc__hide {
  display: none;
}
